{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row valign-wrapper">
        <div class="col s4 center-align">
            <!-- Image placeholder from https://www.pngrepo.com/svg/293440/add-image-frame -->
            <img
                id="imgPreview"
                class="responsive-img"
                src="#"
                width="256"
                height="auto"
                onerror="this.src='static/add-image-frame-pngrepo-com.png'"
                onclick="document.getElementById('fileID').click();"
                style="cursor: pointer;"
            />
            <h6>
                Choose an image to classify
            </h6>
            <form method="post" enctype="multipart/form-data">
                <input
                    id="fileID"
                    required
                    type="file"
                    name="file"
                    accept="image/png, image/jpeg"
                    style="display: none;"
                />
                <label
                    class="waves-effect waves-light btn red lighten-2"
                    for="fileID"
                >
                    Browse...
                </label>
                <button
                    class="waves-effect waves-light btn red lighten-2"
                    type="submit"
                    value="submit"
                >
                    Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
        {% if data %}
        <div class="col s8 card white">
            <div class="card-content">
                <div class="row valign-wrapper">
                    <div class="col s6">
                        <img
                            class="const-img responsive-img"
                            src="{{ url_for('static', filename='media/tmp') }}"
                            alt="Mushroom Image"
                        />
                    </div>
                    <div class="col s6">
                        <span class="card-title">Using model {{ data.model }}</span>
                        <br/>
                        <table class="responsive-table highlight">
                            <thead>
                                <tr>
                                    <th>Class</th>
                                    <th>Probability</th>
                                    <th>
                                        Edible
                                        <sup
                                            style="cursor: help;"
                                            data-html="true"
                                            class="tooltipped"
                                            data-position="right"
                                            data-tooltip="False means the mushroom is<br/>poisonous or has bad effect<br/>on the human body."
                                        >
                                            Note
                                        </sup>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for k,v in data.result.all.items() %}
                            <tr>
                                {% if data.result.final_class == k %}
                                <td><b>{{ k }}</b></td>
                                <td><b>{{ v }}%</b></td>
                                <td><b>{{ data['edibility'][k] }}</b></td>
                                {% else %}
                                <td>{{ k }}</td>
                                <td>{{ v }}%</td>
                                <td>{{ data['edibility'][k] }}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <br/>
                        Chosen <b>{{ 
                            data['result']['final_class'] 
                        }}</b> with {{ 
                            data['result']['final_probability'] 
                        }}% confidence.
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col s8 small card white">
            <div class="card-content center-align">
                <span class="card-title">Results will appear here</span>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<style>
    td {
        padding: 8px;
    }
</style>
<script>
    fileID.onchange = evt => {
        const [file] = fileID.files
        if (file) {
            imgPreview.src = URL.createObjectURL(file)
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        const hint = document.querySelectorAll('.tooltipped');
        M.Tooltip.init(hint, {});
    });
</script>
{% endblock %}