{% extends "base.html" %}
{% block page_content %}
<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Document</title>
</head>
<body> 
    {% if image %}
    <img src="{{image.file.url}}" width="500" height=auto alt="">
    {% endif %}
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="submit">Submit</button>
    </form>

    {% if data %}
        {% for k,v in data.all.items %}
            {{k}}: {{v}}<br>
        {% endfor %}
        <br>
        This image belongs to
        
        {% for k,v in data.final.items %}
            {{k}} with {{v}}% confidence.
        {% endfor %}
    {% endif %}
</body>
</html>
{% endblock %}